NET ck LOC = B8;
NET reset LOC = B18;
NET an(0) LOC = F17;
NET an(1) LOC = H17;
NET an(2) LOC = C18;
NET an(3) LOC = F15;
NET dec_ddp(0) LOC = L18;
NET dec_ddp(1) LOC = F18;
NET dec_ddp(2) LOC = D17;
NET dec_ddp(3) LOC = D16;
NET dec_ddp(4) LOC = G14;
NET dec_ddp(5) LOC = J17;
NET dec_ddp(6) LOC = H14;
NET dec_ddp(7) LOC = C17;