//! **************************************************************************
// Written by: Map O.61xd on Fri Dec 06 01:23:46 2019
//! **************************************************************************

SCHEMATIC START;
COMP "ck" LOCATE = SITE "B8" LEVEL 1;
COMP "dec_ddp<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "dec_ddp<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "dec_ddp<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "dec_ddp<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "dec_ddp<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "dec_ddp<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "dec_ddp<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "dec_ddp<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "an<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "an<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "reset" LOCATE = SITE "B18" LEVEL 1;
NET "ck_BUFGP/IBUFG" BEL "ck_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

